@import url('https://fonts.googleapis.com/css?family=Solway&display=swap');


body{
    font-family: 'Solway', serif;
}
.container-wrapper{
    background: linear-gradient(-45deg, lightgray, white, white, white, lightgray);
    min-height: 100vh;
    font-family: 'Solway', serif;
}

.page-middle{
    position: relative;
    height: 100vh;
}
.page-middle-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    width: 100%;
    background: linear-gradient(-45deg, lightgray, white, white, lightgray);
    padding: 5% 15%;
    border: 2px solid lightgray;
    border-radius: 10px;
}
.center-content{
    text-align: center;
}
.right-content{
    text-align: right;
}

.full-text-field{
    width: 100%;
}
.side-nav{
    padding: 30% 0;
    text-align: center;
}
.notice-header{
    min-height: 10vh;
}
.notice-content{
    min-height: 85vh;
}
.page-indicator{
    margin: 0px 10px;
}
.button-margin{
    margin: 0px 5px !important;
}
.red-button{
    color: red;
}
.pager{
    border-radius: 20px;
}
table.table-bordered > thead > tr > th{
    border:1px solid gray;
}
table.table-bordered > tbody > tr > td{
    border:1px solid gray;
}

/* Preloader style */
#apiProgress{
    position: fixed;
    z-index: 9998;
    display: none;
}
.progressWrapper{
    height: 100vh;
    width: 100%;
}
#loading-img {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 9999;
}
.loadingOverlay {
    text-align: center;
    background: rgba(255, 255, 255, 0.5);
    height: 100vh;
    width: 100%;
}

/* Modal styles */
.modal-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    height: 100vh;
    width: 100%;
}
.custom-modal{
    min-height: 25vh;
    width: 75%;
    position: absolute;
    z-index: 9999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.modal-hide{
    display: none;
}